{block full}
{foreach $feeds as $feed}
	<iframe src="http://www.facebook.com/plugins/likebox.php?href={$feed}&amp;width=320&amp;colorscheme=light&amp;show_faces=true&amp;border_color=%23000000&amp;stream=true&amp;header=false&amp;height=395" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:320px; height:395px;" allowTransparency="true"></iframe>
{/foreach}
<a class="twitter-timeline"  href="https://twitter.com/ondrej_profant/lists/zhmp" data-widget-id="634447785367052289">Tweets from https://twitter.com/ondrej_profant/lists/zhmp</a>
            <script>!function(d,s,id){ var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){ js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{/block}
