{block content}
{control upload}

<table>
<tr n:foreach="$upload as $foto">
<td><a href="{$basePath}/upload/{$foto->id}.{$foto->extension}" target="_blank">{$foto->alt|truncate:30}</a></td>
{*<td><a href="{link :Service:Thumbnail:default, id => $foto['id'], height => 70, format => "jpg"}">h70</a>
</td>*}
</tr>
</table>
{/block}