{block content}
<h1>Kontakt</h1>
<h2>Šéfredaktor</h2>
<p>Mikuláš Ferjenčík, <a href="mailto:mikulas.ferjencik&#64;pirati.cz">mikulas.ferjencik&#64;pirati.cz</a>, +420 737 943 770</p>
<h2>Redakce</h2>
<a href="mailto:listy&#64pirati.cz">listy&#64pirati.cz</a>
<p>
Pirátské listy, internetové noviny České pirátské strany, www.piratskelisty.cz
</p>
<p>Copyleft Pirátská strana, všechna práva vyhlazena, sdílejte a nechte ostatní sdílet za stejných podmínek.</p>
{/block}