{block content}
<h1>Pomozte Pirátským listům</h1>
<p>
Pirátské listy jsou internetové noviny České pirátské strany. Obsahově navazují na server <a href="http://www.piratskenoviny.cz" rel="nofollow">Pirátské noviny</a>, kde působila část  stávající redakce Pirátských listů. Chceme přinášet zprávy ze světa  Internetu, Pirátských stran, věnovat se podezřelým smlouvám typu ACTA či  TTIP, prostě věcem, které v mainstreamových médiích nenajdete a současně mají Pirátské listy sloužit jako platforma pro polemiky a veřejnou diskusi v rámci komunity Pirátského hnutí.
</p>
<p>
Největší podpora pro nás jsou pravidelní čtenáři, kteří čtou a sdílejí naše články. Nové články na Pirátských listech vycházejí každý den, můžete nás sledovat i na <a href="https://twitter.com/Piratske_listy" rel="nofollow" target="_blank">Twitteru</a> a <a href="https://www.facebook.com/piratskelisty" rel="nofollow" target="_blank">Facebooku</a>. Také si můžete nastavit RSS pro <a href="http://www.piratskelisty.cz/rss/">články</a> a <a href="http://listy.stipl.cz/rss/aktuality">aktuality</a>.
</p>
<p>
Uvítáme současně články, podklady pod články, tipy na témata a další informace z Pirátského světa. Pište na <a href="mailto:listy&#64;pirati.cz">listy&#64;pirati.cz</a>. Zapojit se můžete i do překladů, zdroje jejichž články převezmeme prakticky určitě, pokud dostaneme kvalitní překlad, jsou například: <a href="http://torrentfreak.com/" target="_blank">TorrentFreak</a>, <a href="http://piratetimes.net/" target="_blank">Pirate Times</a> nebo <a href="http://falkvinge.net/" target="_blank">Falkvinge.net</a>.
</p>
<p>
Podpořit Pirátské listy můžete i finančně, návod naleznete <a href="http://www.pirati.cz/fo/dary">zde</a>. Důležité je uvést variabilní symbol Pirátských listů 200004. V tuto chvíli jsou Pirátské listy placené prostřednictvím projektu <a href="https://www.pirati.cz/fo/navody/participativni_rozpocet" target="_blank">Participativního rozpočtování</a> v rámci Pirátské strany, díky čemuž může šéfredaktor a koordinátor Pirátských listů pobírat první dva měsíce fungování projektu 7200 Kč měsíčně za půlúvazek. Střednědobý cíl je získat 256 čtenářů přispívajících 32 korun měsíčně. To by umožnilo, aby projekt fungoval finančně nezávisle na Pirátské straně. Rádi bychom dokázali, že model dobrovolných plateb může fungovat jako způsob financování médií.
</p>
<p>
Předplatitelé, tedy pravidelní dárci, budou dostávat pozvánky na akce Pirátských listů. V plánu je například redakční večírek zhruba jednou za půl roku v <a href="http://www.pirati.cz/mista/centra/praha">Pirátském centru v Praze</a>.
<p>
Články Pirátských listů může kdokoli kopírovat a sdílet i bez předchozího souhlasu. Všechna práva vyhlazena.
</p>
<p>
Díky za pomoc podporu i sdílení<br />
Mikuláš Ferjenčík, šéfredaktor Pirátských listů, +420 737 943 770<br />
</p>

{/block}